<p>Hello,</p>
<p>We received a request to reset your password for FLOSS Funding. If you made this request, click the link below to reset your password. This link will expire in 15 minutes and can be used only once.</p>
<p><a href="<%= @reset_url %>">Reset your password</a></p>
<p>If you did not request a password reset, you can ignore this email.</p>
<p>Thanks,<br>FLOSS Funding</p>
